* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --bg-color: #121214;
  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --secondary-color: hsl(var(--base-color), 0%, 100%);
  --text-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);

  display: grid;
  min-height: 100vh;
}
main {
  align-self: end;
  justify-self: center;
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  display: flex;
  margin-bottom: 1.6rem;
}
.hide {
  display: none;
}
.play svg path,
.pause svg path,
.stop svg path {
  fill: var(--primary-color);
}

.sound-on svg path,
.sound-off svg path,
.set svg path {
  fill: var(--secondary-color);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}
#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3.2rem;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vh, 10.8rem);

  border-radius: 9999px;
}
footer {
  justify-self: end;
  align-self: end;

  padding: 0 4rem 3.2rem 0;
}
